html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }

  @-webkit-keyframes flexGrow {
    to {
      flex: 1;
    }
  }
  @-o-keyframes flexGrow {
    to {
      flex: 1;
    }
  }
  @keyframes flexGrow {
    to {
      flex: 1;
    }
  }
  @-webkit-keyframes flexShrink {
    to {
      flex: 0.01;
      flex: 0.00001;
    }
  }
  @-o-keyframes flexShrink {
    to {
      flex: 0.01;
      flex: 0.00001;
    }
  }
  @keyframes flexShrink {
    to {
      flex: 0.01;
      flex: 0.00001;
    }
  }
}
